 html {
   position: relative;
   min-height: 100%;
  
}
#navbarNav{
    justify-content: flex-end;
        
}

.col-md-8 {
    margin-top: 50px;
    background-color: #f8fafa
}
#name {
    background-color: #08bdbd;
    font-size: 24px;
    color:#f8fafa; 
    font-weight: bold;
}
body {
    background-color: #e2e2e2;
}
.container h1 {
   
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: #08bdbd; 
    font-weight: bold;
}
.row {
    margin-left: 50px;
}

.brand {
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
}

.hs {
    max-height: 225px;
    max-width: 150px;
    float: left; 
    margin-right: 10px;
    }

 .text {
    text-align: justify;
  
 }   

 .portfolio img {
     max-width: 200px;
     max-height: 300px;
     border: white;
 }

.portfolio .page-name {

    color: #08bdbd;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large
}

.contact .page-name {

    color: #08bdbd;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large
}

.contact form {

    padding: 50px;
}

.form-cont {
    min-width: 100%;
    max-width: 100%;
}

.contact form #message{

    /* min-height: 100px; */
}

