.navbar{
    float: right;
        
}
.nb  {
    color: #08bdbd;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}
.container {
    margin-left: 100px;
}
.brand {
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
}

.hs {
    max-height: 225px;
    max-width: 150px;
    }

 .text {
    text-align: justify;
  
 }   

 .portfolio img {
     max-width: 200px;
     max-height: 300px;
     border: white;
 }

.portfolio .page-name {

    color: #08bdbd;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large
}

.contact .page-name {

    color: #08bdbd;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large
}

.contact form {

    padding: 50px;
}

.contact form #message{

    min-height: 100px;
}

@media only screen and (max-width: 740px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }